@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Anton:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-section {
  display: -ms-grid;
  display: grid;
}

.title-section__title {
  font-weight: 500;
  line-height: 100%;
  /* 82px */
  letter-spacing: -0.205rem;
  max-width: 56.25rem;
}

.title-section__text {
  -ms-grid-column-align: end;
      justify-self: end;
}

.comment-block {
  display: -ms-grid;
  display: grid;
}

.comment-block--white .comment-block__text {
  color: #fff;
}

.comment-block--white .comment-block__arrow {
  -ms-grid-row: 1;
      grid-row-start: 1;
  background-color: #fff;
}

.comment-block--white .comment-block__arrow svg {
  fill: #FF3D00;
}

.comment-block__text {
  font-weight: 400;
  line-height: 133.333%;
  /* 133.333% */
  letter-spacing: -0.03rem;
  max-width: 34.375rem;
}

.comment-block__arrow {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem;
}

.comment-block__arrow svg {
  max-width: 100%;
}

.double-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.double-phone__images-ibg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  aspect-ratio: 443/900;
}

.double-phone__comment {
  position: absolute;
  z-index: 2;
  width: 100%;
  aspect-ratio: 280/63;
}

.double-phone__comment--left .double-phone__title {
  border-radius: 1.4334375rem 1.4334375rem 0px 1.4334375rem;
}

.double-phone__comment--right .double-phone__title {
  border-radius: 1.4334375rem 1.4334375rem 1.4334375rem 0;
}

.double-phone__title {
  display: inline-block;
  white-space: nowrap;
  color: #FFF;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.02rem;
  background-color: #1FC069;
  -webkit-box-shadow: 5px 10px 20px 0px rgba(50, 54, 94, 0.15);
          box-shadow: 5px 10px 20px 0px rgba(50, 54, 94, 0.15);
}

.--animation-wave-right {
  -webkit-animation: waves 2.2s ease-in-out infinite;
          animation: waves 2.2s ease-in-out infinite;
}

.--animation-wave-left {
  -webkit-animation: waves 2.8s ease-in-out infinite;
          animation: waves 2.8s ease-in-out infinite;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }

  100% {
    -webkit-transform: translateXS(0);
            transform: translateXS(0);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }

  100% {
    -webkit-transform: translateXS(0);
            transform: translateXS(0);
  }
}

.icon-menu {
  display: none;
}

.page__hero {
  background-color: #025A2B;
}

.page__news {
  background: #F5F5F5;
}

.hero {
  min-height: 100vh;
  position: relative;
}

.hero__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__box {
  min-width: 1200px;
  height: 375px;
  max-height: 375px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero__title {
  text-align: center;
  color: rgba(215, 234, 178, 0.2);
  font-family: Anton;
  line-height: 100%;
  letter-spacing: -0.16875rem;
  text-transform: uppercase;
}

.hero__title span {
  display: block;
  line-height: 200%;
  letter-spacing: 0.59375rem;
}

.hero__images-ibg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  aspect-ratio: 1440/276;
}

.hero__phone-ibg {
  margin: 0 auto;
  aspect-ratio: 444/900;
}

.project__title {
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #121212;
  font-weight: 700;
  line-height: 120%;
  /* 120% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.project__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  color: #121212;
  line-height: 133.333%;
  /* 133.333% */
  letter-spacing: -0.0225rem;
}

.functions {
  position: relative;
}

.functions__container {
  position: relative;
  z-index: 2;
}

.functions__double-phone .double-phone__comment--left {
  top: 10.5%;
  left: -50%;
}

.functions__double-phone .double-phone__comment--right {
  top: 50%;
  left: 85%;
}

.functions__comment-block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.functions__bg-image-ibg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  aspect-ratio: 1570/965;
}

.network {
  position: relative;
}

.network__container {
  position: relative;
  z-index: 3;
}

.network__title {
  max-width: 36.0625rem;
  color: #FFF;
  font-weight: 600;
  line-height: 110%;
  /* 64px */
  letter-spacing: -0.16rem;
}

.network__double-phone .double-phone__comment .double-phone__title {
  text-align: center;
}

.network__double-phone .double-phone__comment--left {
  top: 40%;
  left: -55%;
}

.network__double-phone .double-phone__comment--right {
  top: 23%;
  left: 75%;
}

.network__text {
  text-align: center;
  color: #121212;
  line-height: 133.333%;
  /* 133.333% */
  letter-spacing: -0.0225rem;
  max-width: 75rem;
  margin: 0 auto;
}

.network__bg-image-ibg {
  position: absolute;
  width: 100%;
  top: -0.0625rem;
  left: 0;
  aspect-ratio: 1590/965;
}

.network__map-ibg {
  position: absolute;
  top: -3%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  aspect-ratio: 1000/694;
}

.news {
  position: relative;
}

.news__double-phone {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.news__phone {
  margin-top: -30%;
}

.news__bg-image-ibg {
  position: absolute;
  max-width: 835px;
  width: 60%;
  bottom: 0;
  right: 0;
  aspect-ratio: 835/600;
}

@media (min-width: 47.99875em) {
  .project__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .project__text {
    text-align: right;
  }
}

@media (min-width: 85.5em) {
  .hero__title span {
    font-size: 29.625rem;
  }
}

@media (min-width: 87.375em) {
  .title-section {
    gap: 3.75rem;
  }

  .title-section__title {
    font-size: 5.125rem;
  }

  .comment-block {
    gap: 1.875rem;
  }

  .comment-block__text {
    font-size: 1.5rem;
  }

  .comment-block__arrow {
    width: 6.25rem;
  }

  .comment-block__arrow {
    height: 6.25rem;
  }

  .double-phone {
    gap: 5rem;
  }

  .double-phone {
    margin-bottom: 5rem;
  }

  .double-phone__images-ibg {
    max-width: 27.75rem;
  }

  .double-phone__title {
    font-size: 1rem;
  }

  .double-phone__title {
    padding: 1.125rem;
  }

  .page__project {
    padding-bottom: 12.375rem;
  }

  .page__network {
    padding-bottom: 18.75rem;
  }

  .page__news {
    padding-top: 6.25rem;
  }

  .page__news {
    min-height: 68.75rem;
  }

  .hero__container {
    padding-top: 7.125rem;
  }

  .hero__box {
    margin-bottom: 4.375rem;
  }

  .hero__title {
    font-size: 5rem;
  }

  .hero__phone-ibg {
    margin-top: -42.5rem;
  }

  .hero__phone-ibg {
    max-width: 27.75rem;
  }

  .hero__phone-ibg {
    margin-bottom: 6.25rem;
  }

  .project__title {
    font-size: 1.25rem;
  }

  .project__text {
    font-size: 2.25rem;
  }

  .functions__title-section {
    margin-bottom: 5rem;
  }

  .network__container {
    padding-top: 10.3125rem;
  }

  .network__title {
    font-size: 4rem;
  }

  .network__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .network__double-phone .double-phone__comment .double-phone__title {
    min-width: 17.5rem;
  }

  .network__text {
    font-size: 2.25rem;
  }

  .news__phone {
    padding-bottom: 12.5rem;
  }
}

@media (min-width: 118.1875em) {
  .network__map-ibg {
    width: 62.5rem;
  }
}

@media (max-width: 65em) and (max-width: 20em) {
  .network__double-phone .double-phone__comment--right {
    left: 0.0000000625rem;
  }
}

@media (max-width: 48em) {
  .network__map-ibg {
    width: 29.6875rem;
  }
}

@media (max-width: 20em) {
  .title-section {
    gap: 1.25rem;
  }

  .title-section__title {
    font-size: 1.75rem;
  }

  .comment-block {
    gap: 0.625rem;
  }

  .comment-block__text {
    font-size: 1.125rem;
  }

  .comment-block__arrow {
    width: 2.5rem;
  }

  .comment-block__arrow {
    height: 2.5rem;
  }

  .double-phone {
    gap: 1.25rem;
  }

  .double-phone {
    margin-bottom: 1.875rem;
  }

  .double-phone__images-ibg {
    max-width: 9.375rem;
  }

  .double-phone__title {
    font-size: 0.875rem;
  }

  .double-phone__title {
    padding: 0.625rem;
  }

  .page__project {
    padding-bottom: 2.5rem;
  }

  .page__network {
    padding-bottom: 1.25rem;
  }

  .page__news {
    padding-top: 2.5rem;
  }

  .page__news {
    min-height: 21.875rem;
  }

  .hero__container {
    padding-top: 1.25rem;
  }

  .hero__box {
    margin-bottom: 3.125rem;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__title span {
    font-size: 6rem;
  }

  .hero__phone-ibg {
    margin-top: -13.125rem;
  }

  .hero__phone-ibg {
    max-width: 9.375rem;
  }

  .hero__phone-ibg {
    margin-bottom: 1.875rem;
  }

  .project__title {
    font-size: 1.125rem;
  }

  .project__text {
    font-size: 1.25rem;
  }

  .functions__title-section {
    margin-bottom: 1.875rem;
  }

  .network__container {
    padding-top: 3.125rem;
  }

  .network__title {
    font-size: 1.375rem;
  }

  .network__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .network__double-phone .double-phone__comment .double-phone__title {
    min-width: 6.25rem;
  }

  .network__text {
    font-size: 1.125rem;
  }

  .news__phone {
    padding-bottom: 3.75rem;
  }
}

@media (max-width: 92.5625em) and (max-width: 20em) {
  .network__double-phone .double-phone__comment--left {
    left: 0.3125rem;
  }
}

@media (max-width: 88.4375em) and (max-width: 20em) {
  .functions__double-phone .double-phone__comment--left {
    top: 0.3125rem;
  }

  .functions__double-phone .double-phone__comment--left {
    left: 0.3125rem;
  }

  .functions__double-phone .double-phone__comment--right {
    top: 6.875rem;
  }

  .functions__double-phone .double-phone__comment--right {
    left: -4.375rem;
  }
}

@media (max-width: 61.99875em) {
  .functions__bg-image-ibg {
    height: 50%;
  }

  .network__bg-image-ibg {
    height: 50%;
  }
}

@media (max-width: 59.375em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--bg-green);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 59.375em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .project__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .functions__bg-image-ibg {
    height: 73%;
  }

  .network__bg-image-ibg {
    height: 73%;
  }
}

@media (max-width: 34.125em) {
  .functions__title-section .comment-block__arrow svg {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media (max-width: 33.75em) {
  .double-phone__title {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 87.375em) {
@supports (gap: clamp( 1.25rem , 0.5078849722rem  +  3.7105751391vw , 3.75rem )) {
    .title-section {
      gap: clamp( 1.25rem , 0.5078849722rem  +  3.7105751391vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.5078849722rem  +  3.7105751391vw , 3.75rem )) {
    .title-section {
      gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 67.375);
    }
}

@supports (font-size: clamp( 1.75rem , 0.7481447124rem  +  5.0092764378vw , 5.125rem )) {
    .title-section__title {
      font-size: clamp( 1.75rem , 0.7481447124rem  +  5.0092764378vw , 5.125rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.7481447124rem  +  5.0092764378vw , 5.125rem )) {
    .title-section__title {
      font-size: calc(1.75rem + 3.375 * (100vw - 20rem) / 67.375);
    }
}

@supports (gap: clamp( 0.625rem , 0.2539424861rem  +  1.8552875696vw , 1.875rem )) {
    .comment-block {
      gap: clamp( 0.625rem , 0.2539424861rem  +  1.8552875696vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.2539424861rem  +  1.8552875696vw , 1.875rem )) {
    .comment-block {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 67.375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0136827458rem  +  0.5565862709vw , 1.5rem )) {
    .comment-block__text {
      font-size: clamp( 1.125rem , 1.0136827458rem  +  0.5565862709vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0136827458rem  +  0.5565862709vw , 1.5rem )) {
    .comment-block__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 67.375);
    }
}

@supports (width: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem )) {
    .comment-block__arrow {
      width: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem );
    }
}

@supports not (width: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem )) {
    .comment-block__arrow {
      width: calc(2.5rem + 3.75 * (100vw - 20rem) / 67.375);
    }
}

@supports (height: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem )) {
    .comment-block__arrow {
      height: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem );
    }
}

@supports not (height: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem )) {
    .comment-block__arrow {
      height: calc(2.5rem + 3.75 * (100vw - 20rem) / 67.375);
    }
}

@supports (gap: clamp( 1.25rem , 0.1368274583rem  +  5.5658627087vw , 5rem )) {
    .double-phone {
      gap: clamp( 1.25rem , 0.1368274583rem  +  5.5658627087vw , 5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.1368274583rem  +  5.5658627087vw , 5rem )) {
    .double-phone {
      gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 67.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.9473562152rem  +  4.6382189239vw , 5rem )) {
    .double-phone {
      margin-bottom: clamp( 1.875rem , 0.9473562152rem  +  4.6382189239vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.9473562152rem  +  4.6382189239vw , 5rem )) {
    .double-phone {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 67.375);
    }
}

@supports (max-width: clamp( 9.375rem , 3.9204545455rem  +  27.2727272727vw , 27.75rem )) {
    .double-phone__images-ibg {
      max-width: clamp( 9.375rem , 3.9204545455rem  +  27.2727272727vw , 27.75rem );
    }
}

@supports not (max-width: clamp( 9.375rem , 3.9204545455rem  +  27.2727272727vw , 27.75rem )) {
    .double-phone__images-ibg {
      max-width: calc(9.375rem + 18.375 * (100vw - 20rem) / 67.375);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8378942486rem  +  0.185528757vw , 1rem )) {
    .double-phone__title {
      font-size: clamp( 0.875rem , 0.8378942486rem  +  0.185528757vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8378942486rem  +  0.185528757vw , 1rem )) {
    .double-phone__title {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 67.375);
    }
}

@supports (padding: clamp( 0.625rem , 0.4765769944rem  +  0.7421150278vw , 1.125rem )) {
    .double-phone__title {
      padding: clamp( 0.625rem , 0.4765769944rem  +  0.7421150278vw , 1.125rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.4765769944rem  +  0.7421150278vw , 1.125rem )) {
    .double-phone__title {
      padding: calc(0.625rem + 0.5 * (100vw - 20rem) / 67.375);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -0.4313543599rem  +  14.6567717996vw , 12.375rem )) {
    .page__project {
      padding-bottom: clamp( 2.5rem , -0.4313543599rem  +  14.6567717996vw , 12.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.4313543599rem  +  14.6567717996vw , 12.375rem )) {
    .page__project {
      padding-bottom: calc(2.5rem + 9.875 * (100vw - 20rem) / 67.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -3.9448051948rem  +  25.974025974vw , 18.75rem )) {
    .page__network {
      padding-bottom: clamp( 1.25rem , -3.9448051948rem  +  25.974025974vw , 18.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -3.9448051948rem  +  25.974025974vw , 18.75rem )) {
    .page__network {
      padding-bottom: calc(1.25rem + 17.5 * (100vw - 20rem) / 67.375);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem )) {
    .page__news {
      padding-top: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.3868274583rem  +  5.5658627087vw , 6.25rem )) {
    .page__news {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 67.375);
    }
}

@supports (min-height: clamp( 21.875rem , 7.9603432282rem  +  69.573283859vw , 68.75rem )) {
    .page__news {
      min-height: clamp( 21.875rem , 7.9603432282rem  +  69.573283859vw , 68.75rem );
    }
}

@supports not (min-height: clamp( 21.875rem , 7.9603432282rem  +  69.573283859vw , 68.75rem )) {
    .page__news {
      min-height: calc(21.875rem + 46.875 * (100vw - 20rem) / 67.375);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.4939703154rem  +  8.719851577vw , 7.125rem )) {
    .hero__container {
      padding-top: clamp( 1.25rem , -0.4939703154rem  +  8.719851577vw , 7.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.4939703154rem  +  8.719851577vw , 7.125rem )) {
    .hero__container {
      padding-top: calc(1.25rem + 5.875 * (100vw - 20rem) / 67.375);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.7539424861rem  +  1.8552875696vw , 4.375rem )) {
    .hero__box {
      margin-bottom: clamp( 3.125rem , 2.7539424861rem  +  1.8552875696vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.7539424861rem  +  1.8552875696vw , 4.375rem )) {
    .hero__box {
      margin-bottom: calc(3.125rem + 1.25 * (100vw - 20rem) / 67.375);
    }
}

@supports (font-size: clamp( 3.75rem , 3.3789424861rem  +  1.8552875696vw , 5rem )) {
    .hero__title {
      font-size: clamp( 3.75rem , 3.3789424861rem  +  1.8552875696vw , 5rem );
    }
}

@supports not (font-size: clamp( 3.75rem , 3.3789424861rem  +  1.8552875696vw , 5rem )) {
    .hero__title {
      font-size: calc(3.75rem + 1.25 * (100vw - 20rem) / 67.375);
    }
}

@supports (margin-top: clamp( -42.5rem , -4.405148423rem  +  -43.599257885vw , -13.125rem )) {
    .hero__phone-ibg {
      margin-top: clamp( -42.5rem , -4.405148423rem  +  -43.599257885vw , -13.125rem );
    }
}

@supports not (margin-top: clamp( -42.5rem , -4.405148423rem  +  -43.599257885vw , -13.125rem )) {
    .hero__phone-ibg {
      margin-top: calc(-13.125rem + -29.375 * (100vw - 20rem) / 67.375);
    }
}

@supports (max-width: clamp( 9.375rem , 3.9204545455rem  +  27.2727272727vw , 27.75rem )) {
    .hero__phone-ibg {
      max-width: clamp( 9.375rem , 3.9204545455rem  +  27.2727272727vw , 27.75rem );
    }
}

@supports not (max-width: clamp( 9.375rem , 3.9204545455rem  +  27.2727272727vw , 27.75rem )) {
    .hero__phone-ibg {
      max-width: calc(9.375rem + 18.375 * (100vw - 20rem) / 67.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 6.25rem )) {
    .hero__phone-ibg {
      margin-bottom: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 6.25rem )) {
    .hero__phone-ibg {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 67.375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0878942486rem  +  0.185528757vw , 1.25rem )) {
    .project__title {
      font-size: clamp( 1.125rem , 1.0878942486rem  +  0.185528757vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0878942486rem  +  0.185528757vw , 1.25rem )) {
    .project__title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 67.375);
    }
}

@supports (font-size: clamp( 1.25rem , 0.9531539889rem  +  1.4842300557vw , 2.25rem )) {
    .project__text {
      font-size: clamp( 1.25rem , 0.9531539889rem  +  1.4842300557vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9531539889rem  +  1.4842300557vw , 2.25rem )) {
    .project__text {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 67.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.9473562152rem  +  4.6382189239vw , 5rem )) {
    .functions__title-section {
      margin-bottom: clamp( 1.875rem , 0.9473562152rem  +  4.6382189239vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.9473562152rem  +  4.6382189239vw , 5rem )) {
    .functions__title-section {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 67.375);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.991419295rem  +  10.667903525vw , 10.3125rem )) {
    .network__container {
      padding-top: clamp( 3.125rem , 0.991419295rem  +  10.667903525vw , 10.3125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.991419295rem  +  10.667903525vw , 10.3125rem )) {
    .network__container {
      padding-top: calc(3.125rem + 7.1875 * (100vw - 20rem) / 67.375);
    }
}

@supports (font-size: clamp( 1.375rem , 0.5957792208rem  +  3.8961038961vw , 4rem )) {
    .network__title {
      font-size: clamp( 1.375rem , 0.5957792208rem  +  3.8961038961vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 0.5957792208rem  +  3.8961038961vw , 4rem )) {
    .network__title {
      font-size: calc(1.375rem + 2.625 * (100vw - 20rem) / 67.375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6934137291rem  +  2.7829313544vw , 3.125rem )) {
    .network__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6934137291rem  +  2.7829313544vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6934137291rem  +  2.7829313544vw , 3.125rem )) {
    .network__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 67.375);
    }
}

@supports (min-width: clamp( 6.25rem , 2.9104823748rem  +  16.6975881262vw , 17.5rem )) {
    .network__double-phone .double-phone__comment .double-phone__title {
      min-width: clamp( 6.25rem , 2.9104823748rem  +  16.6975881262vw , 17.5rem );
    }
}

@supports not (min-width: clamp( 6.25rem , 2.9104823748rem  +  16.6975881262vw , 17.5rem )) {
    .network__double-phone .double-phone__comment .double-phone__title {
      min-width: calc(6.25rem + 11.25 * (100vw - 20rem) / 67.375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.7910482375rem  +  1.6697588126vw , 2.25rem )) {
    .network__text {
      font-size: clamp( 1.125rem , 0.7910482375rem  +  1.6697588126vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.7910482375rem  +  1.6697588126vw , 2.25rem )) {
    .network__text {
      font-size: calc(1.125rem + 1.125 * (100vw - 20rem) / 67.375);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 1.1525974026rem  +  12.987012987vw , 12.5rem )) {
    .news__phone {
      padding-bottom: clamp( 3.75rem , 1.1525974026rem  +  12.987012987vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 1.1525974026rem  +  12.987012987vw , 12.5rem )) {
    .news__phone {
      padding-bottom: calc(3.75rem + 8.75 * (100vw - 20rem) / 67.375);
    }
}
}

@media (min-width: 20em) and (max-width: 85.5em) {
@supports (font-size: clamp( 6rem , -1.213740458rem  +  36.0687022901vw , 29.625rem )) {
    .hero__title span {
      font-size: clamp( 6rem , -1.213740458rem  +  36.0687022901vw , 29.625rem );
    }
}

@supports not (font-size: clamp( 6rem , -1.213740458rem  +  36.0687022901vw , 29.625rem )) {
    .hero__title span {
      font-size: calc(6rem + 23.625 * (100vw - 20rem) / 65.5);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 87.375em) {
  .project__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 87.375em) {
@supports (margin-bottom: clamp( 0.625rem , 0.3467068646rem  +  1.3914656772vw , 1.5625rem )) {
    .project__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.3467068646rem  +  1.3914656772vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3467068646rem  +  1.3914656772vw , 1.5625rem )) {
    .project__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 67.375);
    }
}
}

@media (max-width: 88.4375em) and (min-width: 87.375em) {
  .functions__double-phone .double-phone__comment--left {
    top: 4.375rem;
  }

  .functions__double-phone .double-phone__comment--left {
    left: -13.75rem;
  }

  .functions__double-phone .double-phone__comment--right {
    top: 25rem;
  }

  .functions__double-phone .double-phone__comment--right {
    left: 23.125rem;
  }
}

@media (max-width: 88.4375em) and (min-width: 20em) and (max-width: 87.375em) {
@supports (top: clamp( 0.3125rem , -0.8934369202rem  +  6.0296846011vw , 4.375rem )) {
    .functions__double-phone .double-phone__comment--left {
      top: clamp( 0.3125rem , -0.8934369202rem  +  6.0296846011vw , 4.375rem );
    }
}

@supports not (top: clamp( 0.3125rem , -0.8934369202rem  +  6.0296846011vw , 4.375rem )) {
    .functions__double-phone .double-phone__comment--left {
      top: calc(0.3125rem + 4.0625 * (100vw - 20rem) / 67.375);
    }
}

@supports (left: clamp( -13.75rem , 4.4868970315rem  +  -20.8719851577vw , 0.3125rem )) {
    .functions__double-phone .double-phone__comment--left {
      left: clamp( -13.75rem , 4.4868970315rem  +  -20.8719851577vw , 0.3125rem );
    }
}

@supports not (left: clamp( -13.75rem , 4.4868970315rem  +  -20.8719851577vw , 0.3125rem )) {
    .functions__double-phone .double-phone__comment--left {
      left: calc(0.3125rem + -14.0625 * (100vw - 20rem) / 67.375);
    }
}

@supports (top: clamp( 6.875rem , 1.4946660482rem  +  26.9016697588vw , 25rem )) {
    .functions__double-phone .double-phone__comment--right {
      top: clamp( 6.875rem , 1.4946660482rem  +  26.9016697588vw , 25rem );
    }
}

@supports not (top: clamp( 6.875rem , 1.4946660482rem  +  26.9016697588vw , 25rem )) {
    .functions__double-phone .double-phone__comment--right {
      top: calc(6.875rem + 18.125 * (100vw - 20rem) / 67.375);
    }
}

@supports (left: clamp( -4.375rem , -12.5382653061rem  +  40.8163265306vw , 23.125rem )) {
    .functions__double-phone .double-phone__comment--right {
      left: clamp( -4.375rem , -12.5382653061rem  +  40.8163265306vw , 23.125rem );
    }
}

@supports not (left: clamp( -4.375rem , -12.5382653061rem  +  40.8163265306vw , 23.125rem )) {
    .functions__double-phone .double-phone__comment--right {
      left: calc(-4.375rem + 27.5 * (100vw - 20rem) / 67.375);
    }
}
}

@media (max-width: 92.5625em) and (min-width: 87.375em) {
  .network__double-phone .double-phone__comment--left {
    left: -12.5rem;
  }
}

@media (max-width: 92.5625em) and (min-width: 20em) and (max-width: 87.375em) {
@supports (left: clamp( -12.5rem , 4.1158395176rem  +  -19.0166975881vw , 0.3125rem )) {
    .network__double-phone .double-phone__comment--left {
      left: clamp( -12.5rem , 4.1158395176rem  +  -19.0166975881vw , 0.3125rem );
    }
}

@supports not (left: clamp( -12.5rem , 4.1158395176rem  +  -19.0166975881vw , 0.3125rem )) {
    .network__double-phone .double-phone__comment--left {
      left: calc(0.3125rem + -12.8125 * (100vw - 20rem) / 67.375);
    }
}
}

@media (max-width: 65em) and (min-width: 87.375em) {
  .network__double-phone .double-phone__comment--right {
    left: 24.375rem;
  }
}

@media (max-width: 65em) and (min-width: 20em) and (max-width: 87.375em) {
@supports (left: clamp( 0.0000000625rem , -7.2356214403rem  +  36.1781075139vw , 24.375rem )) {
    .network__double-phone .double-phone__comment--right {
      left: clamp( 0.0000000625rem , -7.2356214403rem  +  36.1781075139vw , 24.375rem );
    }
}

@supports not (left: clamp( 0.0000000625rem , -7.2356214403rem  +  36.1781075139vw , 24.375rem )) {
    .network__double-phone .double-phone__comment--right {
      left: calc(0.0000000625rem + 24.3749999375 * (100vw - 20rem) / 67.375);
    }
}
}

@media (max-width: 65em) and (min-width: 34.0625em) and (max-width: 54.375em) {
@supports (left: clamp( 6.25rem , -4.2307692308rem  +  30.7692307692vw , 12.5rem )) {
    .network__double-phone .double-phone__comment--right {
      left: clamp( 6.25rem , -4.2307692308rem  +  30.7692307692vw , 12.5rem );
    }
}

@supports not (left: clamp( 6.25rem , -4.2307692308rem  +  30.7692307692vw , 12.5rem )) {
    .network__double-phone .double-phone__comment--right {
      left: calc(6.25rem + 6.25 * (100vw - 34.0625rem) / 20.3125);
    }
}
}

@media (min-width: 48em) and (max-width: 118.1875em) {
@supports (width: clamp( 29.6875rem , 7.2476068566rem  +  46.749777382vw , 62.5rem )) {
    .network__map-ibg {
      width: clamp( 29.6875rem , 7.2476068566rem  +  46.749777382vw , 62.5rem );
    }
}

@supports not (width: clamp( 29.6875rem , 7.2476068566rem  +  46.749777382vw , 62.5rem )) {
    .network__map-ibg {
      width: calc(29.6875rem + 32.8125 * (100vw - 48rem) / 70.1875);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (width: clamp( 22.4375rem , 8.5982142857rem  +  69.1964285714vw , 41.8125rem )) {
    .network__map-ibg {
      width: clamp( 22.4375rem , 8.5982142857rem  +  69.1964285714vw , 41.8125rem );
    }
}

@supports not (width: clamp( 22.4375rem , 8.5982142857rem  +  69.1964285714vw , 41.8125rem )) {
    .network__map-ibg {
      width: calc(22.4375rem + 19.375 * (100vw - 20rem) / 28);
    }
}
}